## Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('netflix_titles.csv')

In [4]:
movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

## Task 1: What is the most popular released years for movie on Netflix ?

In [25]:
pop_release = movies[movies['type'] == 'Movie']['release_year'].value_counts()
pop_release

release_year
2017    767
2018    767
2016    658
2019    633
2020    517
       ...
1966      1
1961      1
1946      1
1963      1
1947      1
Name: count, Length: 73, dtype: int64

In [26]:
print(f"The most popular release year for movies on Netflix are 2018 and 2017")

The most popular release year for movies on Netflix are 2018 and 2017

## Task 2: What year did Netflix add the most content to its platform ?

In [41]:
movies['date_added'].str.split(", ").str[1].value_counts()

date_added
2019    2016
2020    1879
2018    1649
2021    1498
2017    1188
2016     429
2015      82
2014      24
2011      13
2013      11
2012       3
2009       2
2008       2
2010       1
Name: count, dtype: int64

In [42]:
print(f"Year with the most content added to Netflix is 2019")

Year with the most content added to Netflix is 2019

## Task 3: What is the most popular added month ?

In [48]:
movies['date_added'].str.split().str[0].value_counts()

date_added
July         827
December     813
September    770
April        764
October      760
August       755
March        742
January      738
June         728
November     705
May          632
February     563
Name: count, dtype: int64

In [49]:
print("Month with the most content added is July")

Month with the most content added is July

## What is the movie with the longest title ?

In [71]:
movies[movies['type'] == 'Movie']['title'].apply(lambda x : len(x)).sort_values(ascending=False)

5164    104
8462     88
3240     88
4851     83
3479     79
       ...
3668      2
5959      2
4177      2
7687      1
5958      1
Name: title, Length: 6131, dtype: int64

In [73]:
longest_title = movies['title'].iloc[5164]

In [74]:
print(f'Movie with the longest title is {longest_title}')

Movie with the longest title is Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton

## Task 5: Which actor/actress shows up the most frequently in netflix database ?

In [89]:
title_and_cast_df = movies[['title','cast']]
title_and_cast_df = title_and_cast_df.dropna()

In [90]:
title_and_cast_df.head()

,title,cast
1,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban..."
2,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi..."
4,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K..."
5,Midnight Mass,"Kate Siegel, Zach Gilford, Hamish Linklater, H..."
6,My Little Pony: A New Generation,"Vanessa Hudgens, Kimiko Glenn, James Marsden, ..."

In [93]:
cast_name_counter = {}

for index, row in title_and_cast_df.iterrows():
    movie_cast = row['cast']
    movie_cast_split = movie_cast.split(',')
    movie_cast_stripped = [name.strip().lower() for name in movie_cast_split]
    
    for name in movie_cast_stripped:
        cast_name_counter[name] = cast_name_counter.get(name, 0) + 1

dict(sorted(cast_name_counter.items))